/*p{
    background: red !important ;
}
p{
    background: green ;
}

}*/
/*
#test1{

    background: blue !important;
}
.test1{
    background : red;
}*/

.test1{
    background : red !important;
}
#test1{

    background: blue ;
}